LOG_HOME_IS_UNDEFINED/
Server*/
.gradle/
.groovy/
.metadata/
.settings/
.classpath
.project
bin/
target/
classes/
LICENSE.txt
.springBeans
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml
rebel.xml
.idea/
MANIFEST.MF
out/test/*
out/production/*
out/artifacts/*
resources-etermconf/
tags
.~lock.*
*.ipr
*.iws
checkstyle/
.pydevproject
bin-groovy
.DS_Store
ip
test-output
.cache
node_modules/
.idea/
.jshintrc
*.o
build/
gradle.properties
127.0.0.1/
.recommenders/

