<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<!-- 
Logback默认配置的步骤:

     (1). 尝试在 classpath 下查找文件 logback-test.xml；

     (2). 如果文件不存在，则查找文件 logback.xml；

     (3). 如果两个文件都不存在，logback 用 BasicConfigurator 自动对自己进行配置，这会导致记录输出到控制
     
     details:
   
    (1)Logback tries to find a file called logback.groovy in the classpath.

    (2)If no such file is found, logback tries to find a file called logback-test.xml in the classpath.

    (3)If no such file is found, it checks for the file logback.xml in the classpath..

    (4)If no such file is found, and the executing JVM has the ServiceLoader (JDK 6 and above) the ServiceLoader will be used to resolve an implementation of com.qos.logback.classic.spi.Configurator. The first implementation found will be used. See ServiceLoader documentation for more details.

    (5)If none of the above succeeds, logback configures itself automatically using the BasicConfigurator which will cause logging output to be directed to the console.
 -->

<!-- 
	 scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true
	 scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
	 debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 
-->
<configuration scan="true" scanPeriod="60000" debug="true">
 	<!-- 设置变量 -->
	<property name="LOG_DIR" value="/opt/logs/test-gradle-logback"/>
	<property name="APP_NAME" value="appName" />   
	
	<!-- 设置上下文名称 -->
	<contextName>${APP_NAME}</contextName>
	
	<!-- 获取时间戳字符串 -->
	<timestamp key="timeFormat" datePattern="yyyy-MM-dd HH:mm:ss"/> 
	
	<!-- xEx :stack track information followed by the "implementation-version" ,if the version is uncertain ,will be preceded by "~"-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
   		<!-- encoder 默认配置为PatternLayoutEncoder -->   
	    <encoder>   
	      <pattern>[${timeFormat}] [%class:%line] - [%-4level] %X{rpid} [%logger{50}] -> %m %n %xEx</pattern>   
	    </encoder>   
 	</appender> 
 	
 	 <!-- 按照每天生成日志文件 --> 
    <appender name="LOG_DAILY" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <Encoding>UTF-8</Encoding> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
            <FileNamePattern>${LOG_DIR}/myApp.%d{yyyy-MM-dd}.log</FileNamePattern> 
            <MaxHistory>30</MaxHistory> 
        </rollingPolicy> 
        <layout class="ch.qos.logback.classic.PatternLayout"> 
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%4level] %X{rpid} [%logger{50}]  -> %m%n %xEx</pattern> 
       </layout> 
    </appender>   
    
    <appender name="STDOUT_DETAIL" class="ch.qos.logback.core.ConsoleAppender"> 
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
        
        <!-- 常用的Pattern变量,大家可打开该pattern进行输出观察 -->
        
          <pattern>
              %d{yyyy-MM-dd HH:mm:ss} [%level] - %msg%n
              Logger: %logger
              Class: %class
              File: %file
              Caller: %caller
              Line: %line
              Message: %m
              Method: %M
              Relative: %relative
              Thread: %thread
              Exception: %ex
              xException: %xEx
              nopException: %nopex
              rException: %rEx
              Marker: %marker
              %n
          </pattern>
    </encoder>
  </appender>
 	
 	<appender name="PERFORMANCE_LOGGER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_DIR}/performance.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_DIR}/test-gradle-logback-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>30</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder charset="UTF-8">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%4level] %X{rpid} [%logger{50}]  -> %m%n %xEx</Pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_DIR}/test-gradle-logback.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_DIR}/test-gradle-logback-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>30</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder charset="UTF-8">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%4level] %X{rpid} [%logger{50}]  -> %m%n %xEx</Pattern>
		</encoder>
	</appender>
	
 	
 	
 	<root level="debug">             
	    <appender-ref ref="FILE" />   
	</root>  
</configuration>